.blog-container {
  padding: 0;
}

.article-section {
  display: flex;
}

.article-content {
  padding: 112px 30px 112px 44px;
  background-color: var(--blog-background-color);
}

.time {
  margin-bottom: 5px;

  font-size: 20px;
  line-height: 1.65;
  color: var(--secondary-text-color);
}

.article-title {
  margin-bottom: 26px;

  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  color: var(--secondary-text-color);
}

.article-text {
  margin-bottom: 17px;

  font-size: 18px;
  line-height: 1.56;
  color: var(--secondary-text-color);
}
