.proposals-container {
  display: flex;
  padding: 0;
}

.proposals-box {
  padding: 84px 44px 84px 30px;
  background-color: var(--third-background-color);
}

.proposals-text {
  margin-bottom: 5px;

  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;
  color: var(--secondary-text-color);
}

.proposals-title {
  margin-bottom: 26px;

  color: var(--secondary-text-color);
}

.proposals-article {
  margin-bottom: 17px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--secondary-text-color);
}
