<section class="container blog-container">
  <article class="article-section">
    <div class="article-content">
      <time datetime="2020-04-16" class="time">April 16 2020</time>
      <h2 class="article-title">Blog Post One</h2>
      <p class="article-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <a href="#" class="button-primary">Read Our Blog</a>
    </div>
    <img src="./images/blog.jpg" alt="Workplace" width="680" height="517" />
  </article>
</section>
