<header class="container header-container">
  <nav class="nav-pannel">
    <a href="" class="nav-logo logo">
      <svg class="logo-icon" width="40" height="35">
        <use href="./images/icons.svg#icon-book-open"></use>
      </svg>
      <span class="logo-finance">Finance</span>
      Ledger
    </a>
    <ul class="nav-list">
      <li>
        <a href="" class="nav-link">Home</a>
      </li>
      <li>
        <a href="" class="nav-link">About</a>
      </li>
      <li>
        <a href="" class="nav-link">Cases</a>
      </li>
      <li>
        <a href="" class="nav-link">Blog</a>
      </li>
      <li>
        <a href="" class="nav-link">Contact</a>
      </li>
    </ul>
  </nav>
</header>
