<section class="container proposals-container">
  <img src="./images/team.jpg" alt="Our team" width="680" height="460" />
  <div class="proposals-box">
    <p class="proposals-text">What you are looking for</p>
    <h2 class="proposals-title">We provide bespoke solutions</h2>
    <p class="proposals-article">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum
      dignissimos quae laudantium asperiores nam aliquid impedit harum illum
      dolore explicabo ab dolores itaque rerum temporibus doloribus iste maiores
      deleniti?
    </p>
    <a href="#" class="button-primary">Read More</a>
  </div>
</section>
