<section class="section-proposals">
  <div class="container">
    <div class="proposals-box">
      <p class="proposals-text">What you are looking for</p>
      <h2 class="proposals-title">We provide bespoke solutions</h2>
      <p class="proposals-article">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <a class="proposals-link" href="#">Read More</a>
    </div>
    <img
      class="proposals-img"
      src="./images/team.jpg"
      alt="our team"
      width="680"
    />
  </div>
</section>
