<section class="container callback">
  <img
    src="./images/callback.jpg"
    alt="The man calls back"
    width="680"
    height="460"
  />
  <div class="request-callback">
    <h2 class="callback-title">Request Callback</h2>
    <form>
      <label>
        <input
          type="text"
          name="name"
          placeholder="Enter your Name"
          class="input-field"
        />
      </label>
      <label>
        <input
          type="email"
          name="email"
          placeholder="Enter email*"
          class="input-field"
        />
      </label>
      <button type="submit" class="button-callback">Send</button>
    </form>
  </div>
</section>
